@use "../../sass/base/global";
@use "../../sass/base/reset";
@use "../../sass/base/mixins";
@use "../../sass/base/variables";
@use "../../sass/components/navbar";
@use "../../sass/components/button";
@use "../../sass/components/elementBox";

body {
    @include mixins.elements-flex(column, none, none);
    @include navbar.navbar;

    #aboutResume {
        @include mixins.elements-flex(column, space-evenly, center);
        text-align: center;

        title {
            height: 50%;
            width: 100%;
            background-image: url("../assets/photo-1588580000645-4562a6d2c839.avif");
            background-color: variables.$emphasisSectionColor;
            background-blend-mode: screen;
        }
    }
}