@use "../../sass/base/global";
@use "../../sass/base/reset";
@use "../../sass/base/mixins";
@use "../../sass/base/variables";
@use "../../sass/components/navbar";
@use "../../sass/components/button";
@use "../../sass/components/elementBox";

body {
    @include mixins.elements-flex(column, none, none);
    @include navbar.navbar;

    main {


        img {
            height: variables.$H2;
            box-shadow: 0px 0px 3px 1px variables.$captionColor;
        }

        .section {
            box-sizing: border-box; // Para retener el padding dentro de la caja (que no se salga)
            padding: 0 80px; // o padding vertical y 60 horizontal
        }

        #aboutResume {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: center;

            div {
                text-align: center;
                height: 100%;
                @include mixins.elements-flex(column, space-evenly, center);

                h1 {
                    @include mixins.elements-flex(column, center, center);
                    grid-column: 1 /span 3;
                    margin-top: 0;
                    height: 40%;
                    width: 100%;
                    background-image: url("../assets/photo-1588580000645-4562a6d2c839.avif");
                    background-color: variables.$emphasisSectionColor;
                    background-blend-mode: screen;
                }

                .sectionContent {
                    @include mixins.grid(4, 20px, 0px);

                    box-sizing: border-box; // Para retener el padding dentro de la caja (que no se salga)
                    padding: 0 80px; // o padding vertical y 60 horizontal

                    p {
                        text-align: right;
                        grid-column: 1 / span 2;
                    }
                }
            }
        }
        // #aboutContent es un .section, no puede buscar un .section dentro de este, no existe
        #aboutContent {
            @include mixins.grid(10, 20px, 0px);

            div {
                grid-column: 4 / span 10;
            }

            #img1 {
                grid-column: 1;
                grid-row: 1 / span 2;
            }

            #img2 {
                align-self: center;
                grid-column: 2;
                grid-row: 1 / span 2;
            }

            #img3 {
                align-self: end;
                grid-column: 3;
                grid-row: 1 / span 2;
            }
        }

    }
}