@use "../../sass/base/global";
@use "../../sass/base/reset";
@use "../../sass/base/mixins";
@use "../../sass/base/variables";
@use "../../sass/components/navbar";
@use "../../sass/components/button";
@use "../../sass/components/elementBox";

body {
    @include mixins.elements-flex(column, none, none);
    @include navbar.navbar;

    main {

        img {
            box-shadow: 0px 0px 3px 1px variables.$captionColor;
        }

        .section {
            box-sizing: border-box; 
        }

        #aboutResume {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: center;

            div {
                height: 100%;
                @include mixins.elements-flex(column, space-evenly, center);
                background-color: variables.$otherSectionColor;

                h1 {
                    margin: 0;
                    @include mixins.elements-flex(column, center, center);
                    height: 40%;
                    width: 100%;
                    background-image: url("../assets/photo-1588580000645-4562a6d2c839.avif");
                    background-color: variables.$emphasisSectionColor;
                    background-blend-mode: screen;
                }

                .sectionContent {
                    @include mixins.grid(4, 20px, 0px);
                    box-sizing: border-box;
                    padding: 0 15px;
                    width: 77%;

                    p {
                        text-align: right;
                        grid-column: 1 / span 2;
                    }

                    #img1 {
                        grid-column: 3;
                        height: variables.$H2;
                    }

                    #img2 {
                        grid-column: 4;
                        height: variables.$H2;
                    }
                }
            }
        }

        #aboutContent {
            padding-left: 30px;
            @include mixins.grid(10, 30px, 0px);

            div {
                grid-column: 4 / span 10;
                align-self: center;
                grid-row: 1 / span 2;
            }

            #img1 {
                grid-column: 1;
                grid-row: 1 / span 2;
                height: variables.$H1;
            }

            #img2 {
                align-self: center;
                grid-column: 2;
                grid-row: 1 / span 2;
                height: variables.$H1;
            }

            #img3 {
                align-self: end;
                grid-column: 3;
                grid-row: 1 / span 2;
                height: variables.$H1;
            }
        }
    }
}