@use "../../sass/base/variables";
@use "../../sass/base/global";
@use "../../sass/base/reset";
@use "../../sass/base/mixins";
@use "../../sass/components/button";
@use "../../sass/components/navbar";

body {
    @include mixins.elements-flex(column, none, none);
    @include navbar.navbar;

    main {
        .section {
            @include mixins.elements-flex(column, center, center);

            #bookContainer {
                width: 87vw;
                @include mixins.elements-flex(row, center, center);

                #details {
                    @include button.button;
                    @include mixins.elements-flex(column, none, none);
                    background-color: variables.$otherSectionColor;
                    padding: 30px;
                    height: 100%;
                    box-sizing: border-box;
                    border-radius: 10px 0 0 10px;

                    #caratula {
                        img {
                            height: variables.$H1 - 50px;
                            width: variables.$H3 + 30px;
                            object-fit: cover;
                        }
                    }

                    .detail {
                        margin: 3px;
                        font-size: 12px;
                    }

                    @include mixins.divider;
                }

                #data {
                    background-color: variables.$otherSectionColor;
                    box-sizing: border-box;
                    width: 80%;
                    padding: 19px;
                    height: 100%;
                    margin-left: 10px;
                    border-radius: 0px 10px 10px 0px;

                    #title {
                        font-size: 2.5rem;
                        margin: 0;
                    }

                    @include mixins.dividerShort;

                    #autor,
                    #editorial {
                        font-size: .8rem;
                        margin: 0;
                        color: variables.$captionColor
                    }

                    @include mixins.divider;

                    div {
                        @include mixins.elements-flex(column, center, center);
                        height: 75%;

                        #form {
                            height: 50%;
                            width: 65%;

                            @include mixins.elements-flex(row, center, center);
                            flex-wrap: wrap;

                            .inputContainer {

                                width: 50%;
                                height: 50%;
                            }
                        }

                        @include button.button;
                    }
                }
            }
        }
    }
}