@use "../../sass/base/global";
@use "../../sass/base/reset";
@use "../../sass/base/mixins";
@use "../../sass/base/variables";
@use "../../sass/components/navbar";
@use "../../sass/components/button";
@use "../../sass/components/elementBox";
@use"../../sass/components/searchBar";

body {
    @include mixins.elements-flex(column, none, none);
    @include navbar.navbar;

    main {
        #welcome {
            @include button.button;
            background-image: url("../assets/photo-1588580000645-4562a6d2c839.avif");
            background-color: variables.$emphasisSectionColor;
            background-blend-mode: screen;

            #welcomeText {
                @include mixins.elements-flex(column, center, center);
                text-align: center;
                height: 100%;
                width: 100%;
                h1{
                    margin-bottom: 10px;
                }
                p{
                    margin-bottom: 40px;
                }

                @include searchBar.searchBar;

                button{
                    margin-top: 20px;
                }
            }

        }

        #newsShow {
            @include mixins.elements-flex(column, center, center);
            justify-content: space-between;
            @include button.button;
            background-color: variables.$otherSectionColor;
        }

        #libraryStats {
            @include mixins.elements-flex(column, space-evenly, center);

            div {
                @include mixins.grid(2, 20px, 20px);
                @include elementBox.elementBox(center);

                .elementBox {
                    h1 {
                        font-size: xxx-large;
                        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                        color: variables.$captionColor;
                        font-weight: bold;
                    }

                    h1:hover {
                        color: variables.$linkColor;
                        text-shadow: 0 0 20px rgba(variables.$linkColor, 0.8);
                        letter-spacing: 1px;
                        transform: scale(1.25);
                        font-weight: bolder;
                        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }

            }

        }

        #invitation {
            @include mixins.elements-flex(column, center, center);
            background-color: variables.$emphasisSectionColor;
            @include button.button;
            h1{
                padding-bottom: 15px;
            }
            p{
                padding-bottom: 15px;
            }
        }
    }
}