$webpage_height: 100vh;
$webpage_mid_height: 50vh;

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome{
    height: $webpage_height;
    @include flex;
}