@use "../base/variables";
@mixin button {
    button {
        background-color: variables.$mainColor;
        color: white;
        transition: background-color 0.3s ease;
        border-radius: 50px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
    }

    button:hover {
        background-color: variables.$hoverableColor;
    }
}