@use "../base/variables";
@use "button";

@mixin navbar {
    header {
        width: variables.$webWidth;
        box-sizing: border-box;
        position: fixed;
        font-family: variables.$titlesFont;
        #title {
            background-color: #3366cc;
            width: variables.$webWidth;
            height: variables.$H6;
            display: flex;
            padding-left:10vw;
            align-items: center;
        }

        nav {
            background-color: variables.$headerColor;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            #libraryStart {
                height: variables.$H6;
                width: variables.$H6;
                background-color: pink;
            }

            #libraryLinks {
                list-style: none;
                display: flex;
                justify-content: center;

                li {
                    padding-right: 5px;
                    padding-left: 5px;

                    a {
                        color: variables.$captionColor;
                        text-decoration: none;
                    }

                    a:hover{
                    text-decoration: underline  variables.$captionColor;
                    text-underline-offset: 4px;
                    }
                }
            }

            #profilePlace {
                display: flex;
                flex-direction: column;
                align-items: center;

                #loginLink {
                    padding-top: 5px;
                }
                @include button.button;

                #loginLink {
                    font-size: 12px;
                    color: variables.$linksColor;

                }
            }

        }
    }
}