//Here we declare all the styles that may affect all
//of the elements of its kind.

@use "variables";
*{
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: variables.$mainColor;
    font-family: variables.$titlesFont;
}


p {
    color: variables.$textColor;
    font-family: variables.$contentFont;
}
figcaption, caption{
    font-size: x-small;
    color: variables.$captionColor;
    font-family: variables.$contentFont;
}

.section {
    box-sizing: border-box;
    padding: 15px;
}

a {
    color: variables.$captionColor;
    text-decoration: none;
}

a:hover {
    color: variables.$linkColor;
    text-decoration: underline variables.$linkColor;
    text-underline-offset: 4px;
    cursor: pointer;
}