//This file is for setting our own base rules for all the
//browsers, and to ensure consistency in all pages.

body{
    background-color: white;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}