//Here we place all the global variables, the constant *values*
//that we're going to use throughout all the project.

//primary colors
$mainColor: #3366cc;
$textColor: black;
$captionColor: #434343;

//background colors
$headerColor: #F5F5F5;
$enphasisSectionColor: #C3DDF9;

//typography
$titlesFont: 'Nunito Sans', sans-serif;
$contentFont: 'Verdana', sans-serif;