* {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3366cc;
  font-family: "Nunito Sans", sans-serif;
}

p {
  color: black;
  font-family: "Verdana", sans-serif;
}

figcaption, caption {
  font-size: x-small;
  color: #434343;
  font-family: "Verdana", sans-serif;
}

.section {
  box-sizing: border-box;
  padding: 15px;
}

a {
  color: #434343;
  text-decoration: none;
}

a:hover {
  color: #0047AB;
  -webkit-text-decoration: underline #0047AB;
          text-decoration: underline #0047AB;
  text-underline-offset: 4px;
  cursor: pointer;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
body header {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  font-family: "Nunito Sans", sans-serif;
}
body header #title {
  background-color: #3366cc;
  width: 100vw;
  height: 50px;
  display: flex;
  padding-left: 10vw;
  align-items: center;
}
body header nav {
  background-color: #F5F5F5;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body header nav #libraryStart {
  height: 50px;
  width: 50px;
  background-color: pink;
}
body header nav #libraryLinks {
  list-style: none;
  display: flex;
  justify-content: center;
}
body header nav #libraryLinks li {
  padding-right: 5px;
  padding-left: 5px;
}
body header nav #profilePlace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header nav #profilePlace #loginLink {
  padding-top: 5px;
}
body header nav #profilePlace button {
  background-color: #3366cc;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
}
body header nav #profilePlace button:hover {
  background-color: #052742;
}
body header nav #profilePlace #loginLink {
  font-size: 12px;
  color: #0047AB;
}
body main #title {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main #content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20vh;
}
body main #content #catalog {
  width: 87vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
body main #content #catalog .elementBox {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 7px;
  transition: 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main #content #catalog .elementBox p {
  font-size: small;
}
body main #content #catalog .elementBox:hover {
  transition: 0.6s ease;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.701);
  transform: scale(1.025);
}
body main #content #catalog .elementBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}
body main #content #catalog .elementBox .info button {
  background-color: #3366cc;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
}
body main #content #catalog .elementBox .info button:hover {
  background-color: #052742;
}
body main #content #catalog .elementBox figure {
  margin: 0px;
}
body main #content #catalog .elementBox figure img {
  height: 250px;
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #content #catalog .elementBox figure figcaption {
  color: #434343;
}/*# sourceMappingURL=style.css.map */