@use "../base/global";
@use "../base/reset";
@use "../base/mixins";
@use "../base/variables";
@use "../components/navbar";
@use "../components/button";
@use "../components/elementBox";

body {
    @include mixins.elements-flex(column,none,none);
    @include navbar.navbar;

    main {
        #welcome {
            @include button.button;
            background-image: url("../assets/photo-1588580000645-4562a6d2c839.avif");
            background-color: variables.$emphasisSectionColor;
            background-blend-mode: screen;
            @include mixins.background-image;

            div {
                @include mixins.elements-flex(column, center, center);
                height: 100%;
                width: 100%;
            }

        }

        #newsShow {
            @include mixins.elements-flex(column, center, center);
            justify-content: space-between;
            @include button.button;
        }
        #libraryStats{
            @include mixins.elements-flex(column, space-evenly, center);
            div{
               @include mixins.grid(2,20px);
               @include elementBox.elementBox

            }

        }
        #invitation{
            @include mixins.elements-flex(column, center, center);
            background-color: variables.$emphasisSectionColor;
            @include button.button;
        }
    }
}
